body {
  font-family: 'Roboto', sans-serif;
  color: black;
  cursor: url("/images/misc/pointerb.png"), auto;
}

body h1, h2, h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: black;
}

body a {
  color: white;
  cursor: url("/images/misc/hyperpointb.png"), auto;
}

footer {
  bottom: 0;
}

header {
  background-color: #40c3ff;
  box-shadow: 0 0.15em 0.25em #3f00bf;
  top: 0;
  right: 0;
  position: fixed;
  width: 100%
}

.text {
  display: block;
  padding-left: 12.5%;
  padding-right: 12.5%;
  width: auto;
  cursor: url("/images/misc/textpointb.png"), auto;
}

.image{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
