body {
  font-family: 'Roboto', sans-serif;
  color: #40c3ff;
  cursor: url("../images/misc/pointer.png"), auto;
  width: 100%;
}

body h1, h2, h3, h4, h5 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #40c3ff;
}

body a {
  color: white;
  cursor: url("../images/misc/hyperpoint.png"), auto;
}

footer {
  bottom: 0;
}

header {
  background-color: #3f00bf;
  box-shadow: 0 0.15em 0.25em #40c3ff;
  top: 0;
  position: fixed;
  width: 100%
}

p {
  text-align: justify;
}

.text {
  display: block;
  padding-left: 12.5%;
  padding-right: 12.5%;
  width: auto;
  cursor: url("../images/misc/textpoint.png"), auto;
}

.image {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
